.btn-border {
  display: block;
  width: 20%;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  padding: 16px;
  border-radius: 5px;
  transition: .2s;
  margin: auto;
  margin-top: 20px;
  color: #ffffff;
  background-color: $main_color2;
  &:hover {
    color: #ffffff;
    // background-color: lighten($main_color2, 15%);
    background-color: $sub_color1;
  }
}

.btn-border__alert {
  display: block;
  width: 20%;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  padding: 16px;
  border-radius: 5px;
  transition: .2s;
  margin: auto;
  margin-top: 20px;
  color: #ffffff;
  background: $alert_color;
  &:hover {
    color: #ffffff;
    background-color: $sub_color1;
  } 
}

.btn-link {
  display: block;
  width: 60%;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  transition: .4s;
  margin: auto;
  margin-top: 20px;
  color: $main_color2;
}

.btn-border--create {
  display: inline-block;
  width: 280px;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
  transition: .2s;
  color: #ffffff;
  margin-left: 50%;
  background-color: $main_color2;
  &:hover {
    color: #ffffff;
    background-color: $sub_color1;
  }
}