.template-key-wrapper {
  position: relative;
  width: 100%;
}

.template-key-content {
  display: block;
  width: 80%;
  margin: 20px auto;
  background: white;
  padding: 20px;
  position: relative;
}

.template-key-row {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  margin: 25px auto;
  border-bottom: 1px solid $main_color2;
}

.template-key-label {
  font-size: 16px;
  color: $font_color;
}

.template-key-input {
  color: $font_color;
}