.template-list-wrapper {
  position: relative;
  width: 100%;
}

.template-list-content {
  display: block;
  width: 80%;
  margin: 20px auto;
  // padding: 20px;
  position: relative;
  color: font_color;  
  .datarow:hover {
    background: $accent_color
  }
}

table {
  width: 100%;
  border-radius: 5px;
  background: white;
  margin-top: 20px;
  thead {
    border-bottom: 2px solid #cccccc;
    th {
      color: $main_color2;
      text-align: center;
      padding: 10px 0;
    }
  }
  td {
    color: $font_color;
    text-align: center;
    padding: 10px 0;
    border-bottom: 0.5px solid #cccccc;
  }
}

.template-list-search-box {
  display: flex;
  width: 80%;
  margin: 50px auto 0 auto;
  position: relative;
}

.input-search {
  width: 80%;
  background: #ffffff;
}

.icon-search {
  margin-left: 10px;
}

.template-list-heading {
  background: white;
  width: 100%;
  font-size: $large_font;
  font-weight: bold;
  padding: 20px 10px;
  color: $font_color;
}

.template-list-heading-title {
  display: inline-block;
}



.table-footer {
  color: $font_color;
  margin-top: 10px;
  text-align: left;
}

.tooltip {
  visibility: hidden;
  text-align: center;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 500ms;
  width: 120px;
  > .text {
    background-color: $sub_color1;
    color: #fff;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 12px;
    display: inline-block;
  }
}

.icon-button:hover > .tooltip {
  visibility: visible;
  opacity: 1;
}