$main_color1: #00B9CF;
$main_color2: #37c0a0;
$sub_color1: #383636;
$sub_color2: #F5F5F5;
$sub_color3: #FDF6E1;
$alert_color: #E1283D;
$accent_color: #ffbc2c;

$xlarge_font: 28px;
$large_font: 20px;
$midium_font: 16px;
$small_font: 12px;

$font_color: rgb(102, 102, 102);